:root {
  --bg-app: #14191c;
  --bg-grid: #2b2b2d;
  --tile-default-bg: #414042;
  --tile-selected-bg: #656669;
  --germline-selected: #404e52;
  --text: #fff;
  --warning: #FFB02E;
  --error: #FF5D5D;
  --good: #42D392;
  --accent-glow: inset 0 0 1px #adadad83, inset 0 0 5px #909a9a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-app);
  color: var(--text);
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  margin-bottom: 2rem;
  text-align: center;
}

main {
  background-color: var(--bg-app);
  border: 1px solid #606a78;
  border-radius: 1px;
  padding: 1rem;
}
